extends layout

block content
  .inner
    h1 Raving Reviews
    h2 This Day ends #{h.moment().endOf('Day').fromNow()}
    p This site was built by 👉 Chad Trikyas Mooney
      a(href="https://www.facebook.com/trikyas" target="_blank") Find me on Facebook
