extends layout

block content
  .inner
    h2= title
    form.form(action="/register" method="post")
      h2 🙌 Your support is greatly appreciated 🙌
      p 🚫 We will never spam you, sell or rent your e-mail address!
      label(for="empty") 
      label(for="name") Name
      input(type="text" name="name" required)
      label(for="email") Email
      input(type="email" name="email" required)
      label(for="password") Password
      input(type="password" name="password")
      label(for="password-confirm") Confirm Password
      input(type="password" name="password-confirm")
      label(for="empty")
      input.button(type="submit" value="Register Now →" )
      label(for="empty")
