html {
  font-size: 10px;
}

body {
  background: $purple;
  background:#efefef;
  &:before {
    content: '';
    display: block;
    background: $grad;
    height: 10px;
    width: 100%;
  }
}

.inner {
  max-width:900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: -.1rem;
  }
}
.trikyas__font {
  color: #ffffff;
  padding-left: 4em;
  font-family: 'Panama';
  font-weight: 600;
  filter: drop-shadow(5px 5px 0 $black);
}
